::selection{ background: rgba(255, 187, 99, 0.76); }
body{
    position: relative;
}
.jumbotron {
padding: 3rem 1rem;
margin-bottom: 2rem;
background-color: #eae9ef;
margin-top: 56px;
}

.jumbotron img{
width: 200px;
height: 200px;
border-radius: 50%;
border: 4px solid rgba(128, 128, 128, 0.767);
}

.navbar{
    font-size: 20px;
    /* padding: 4px 80px; */
    background-color:rgb(255, 255, 255);
    box-shadow: 0 0 1px 0.5px rgba(162, 162, 162, 0.753);
    transition: top 0.3s;
}

.navbar a{
    color: rgb(0, 0, 0);
    transition: 0.3s;
}
.navbar li a:hover{
   color: rgb(55, 85, 255);
}
.navbar-toggler{
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(0, 0, 0);
    padding: 1px 6px;
}
.navbar-toggler:focus{
    background-color: rgba(255, 193, 128, 0.712);
}
#navbarSupportedContent{
    transition: 0.3s;
}
*:focus {
    outline: 0;
}
@media (min-width: 1300px){
    .navbar{
        padding: 3px 70px;
    }
}
@media (max-width: 768px){
.navbar{
    padding: 3px;
}
.navbar-collapse li a{
    font-size: 15px;
}

.navbar-collapse{
    line-height: 20px;
    margin-top: 0px;
}
hr{
    margin-bottom: 5px;
    margin-top: 5px;
}
}

.row h2{
text-align: center;
}
.about hr{
width: 200px;
border-top: 3px solid rgb(0, 0, 0);
border-radius: 10px;
margin: 0 auto;
margin-bottom: 20px;
}

.about{
height: auto;
padding-bottom: 30px;
margin-bottom: 2rem;
}

.portfolio hr{
width: 200px;
border-top: 3px solid rgb(0, 0, 0);
border-radius: 10px;
margin: 0 auto;
margin-bottom: 0;
}
.portfolio h2{
margin-top: 20px;
}
.portfolio{
background-color: #e9ecef;
height: auto;
padding-bottom: 50px;
}
section img{
margin-top: 20px;
}
.contact{
background-color: #ffffff;
height: 600px;
}
.contact h2{
margin-top: 20px;
}
.contact hr{
width: 200px;
border-top: 3px solid rgb(0, 0, 0);
border-radius: 10px;
margin: 0 auto;
margin-bottom: 20px;
}
.form-control:focus{
    border-color: #ff982b;  
    box-shadow: none; 
    -webkit-box-shadow: none;} 
.has-error .form-control:focus
{box-shadow: none; -webkit-box-shadow: none;}

.hai{
    transition: 0.3s;
}
.hai:hover{
    border: 1px solid #ff982b;
    color: #ff982b;
    background-color: white;
}
footer{
background-color: #e9ecef;
width: 100%;
height: 200px;
padding: 20px;
}
footer p{
font-size: 15px;
padding: 20px;
}
footer p i{
color: red;
}
.container a{
    text-decoration: none;
}